# Ignore Git files
.git
.gitignore

# Ignore GitHub workflows (not needed inside Docker image)
.github/

# Ignore Docker files themselves
Dockerfile
docker-compose.yml

# Ignore local test files
/tests/

# Ignore local Go build artifacts
/tmp/
*.out

# Ignore Go mod cache (only need compiled binary inside container)
go.sum

# Ignore editor and system files
.vscode/
.idea/
*.swp

# Ignore built binaries
main
